http:
  middlewares:
    frappe-cloud-secure-headers:
      headers:
        browserXssFilter: true
        contentTypeNosniff: true
        frameDeny: true
        sslRedirect: false
        customFrameOptionsValue: SAMEORIGIN
    frappe-cloud-rate-limit:
      rateLimit:
        average: 100
        burst: 50
  routers:
    frappe-cloud-dashboard:
      rule: Host(`traefik.localhost`)
      entrypoints:
      - frappe-web
      service: api@internal
      priority: 100
    frappe-cloud-minio-console:
      rule: Host(`minio.localhost`)
      entrypoints:
      - frappe-web
      service: frappe-cloud-minio-console-service
      priority: 100
    frappe-cloud-minio-api:
      rule: Host(`s3.localhost`)
      entrypoints:
      - frappe-web
      service: frappe-cloud-minio-api-service
      priority: 100
    frappe-cloud-registry-ui:
      rule: Host(`registry.localhost`)
      entrypoints:
      - frappe-web
      service: frappe-cloud-registry-ui-service
      priority: 100
    frappe-cloud-saas-manager:
      rule: Host(`cloud.localhost`)
      entrypoints:
      - frappe-web
      service: frappe-cloud-saas-manager-service
      priority: 100
    frappe-cloud-erp:
      rule: Host(`erp.localhost`)
      entrypoints:
      - frappe-web
      service: frappe-cloud-nginx-service
      priority: 50
    frappe-cloud-acme:
      rule: Host(`acme.localhost`)
      entrypoints:
      - frappe-web
      service: frappe-cloud-nginx-service
      priority: 50
    frappe-cloud-catch-all:
      rule: HostRegexp(`^[a-z0-9-]+\.localhost$`)
      entrypoints:
      - frappe-web
      service: frappe-cloud-nginx-service
      priority: 1
    frappe-cloud-demo:
      rule: Host(`demo.localhost`)
      entrypoints:
      - frappe-web
      service: frappe-cloud-nginx-service
      priority: 50
  services:
    frappe-cloud-nginx-service:
      loadBalancer:
        servers:
        - url: http://frappe-cloud-nginx:8080
    frappe-cloud-minio-console-service:
      loadBalancer:
        servers:
        - url: http://frappe-cloud-minio:9001
    frappe-cloud-minio-api-service:
      loadBalancer:
        servers:
        - url: http://frappe-cloud-minio:9000
    frappe-cloud-registry-ui-service:
      loadBalancer:
        servers:
        - url: http://frappe-cloud-registry-ui:80
    frappe-cloud-saas-manager-service:
      loadBalancer:
        servers:
        - url: http://frappe-cloud-saas-manager:8000
